@import "variables";

.center-column {
  max-width: 50em;
  margin: 0 auto;
}

// Styling for page header
.page-header {
  font-family: $sans_serif;
  background-color: $header_bg;
  color: $title_color;
  h1 {
    text-align: center;
    font-size: 3.5em;
    padding-top: .5em;
    margin: 0;
  }
  h2 {
    text-align: center;
    font-size: 2.0em;
    font-weight: 100;
    padding-top: .5em;
    margin: 0;
  }
}
//Styling for the page-container
.page-container{
  background: #f7f7f7;
}

//Image figure
.image-header {
  padding-top: 25px;
  width: 120px;
  margin: 0 auto;
}

//About me section
.profile-about-me {
  text-align: center;
}

//Bio/projects section
section.profile-bio {
  border-radius: 4px;
  border: 1px solid rgba(255, 3, 3, 0.45);
  margin: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}
section.profile-bio:hover {
  background: lightblue;
}

//footer
.footer {
  background: #2b2b2b;
  bottom:0;
  text-align: center;
  top: 50%;
  height:60px;
}
.lead{
  color: #FFF;
}



.page-nav {
  padding: 1em 0 1em 0;

  ul {
    display: table;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      font-size: 1.5em;
      text-align: center;
      display: table-cell;
      text-decoration: none;

      // Center child
      width: 20%;
      &:first-child {
        // Left Child
        text-align: right;
        width: 40%;
      }
      &:last-child {
        // Right Child
        text-align: left;
        width: 40%;
      }

      a, a:link, a:visited, a:hover, a:active{
        padding: .2em 1em;
        text-decoration: none;
        color: white;
        display: block;
        width: 100%;
        border: .1em solid $header_bg;
        background-color: lighten($header_bg, 10%);

        &:hover {

        }
      }
    }
  }
}