# JetBrains IDE's
.idea
# Directory where npm modules are installed
node_modules
# Directory where the compiled sass code will go
css
.sass-cache
**/.css.map
# File where error logs are written to
npm-debug.log
# Mac metadata file
.DS_Store

# Build file
dist
