@import "../libs/bourbon/bourbon";
@import "../libs/base/base";
@import "layout";
@import "text";

// Set bounds for the page container
.container {
  @include container();
}

// Set responsive width for center column
section > h3, section > p, section > blockquote, section > dl, section > ul {
  @include center_column();
}

// Set responsive text size for page
body {
  @include text_size();
}

// Styling for page header
header {
  text-align: center;
  .title-box {
    border-bottom: 1px solid lighten($dark-gray, 50%);
  }
  h1 {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 5em;
    margin-top: -.35em;
    margin-bottom: -.24em;
  }
}

// Styling for navigation links
nav {
  margin: 2em 0;
  text-align: center;
  font-size: 1.5em;
  @media (max-width: 25em) {
    font-size: 1.2em;
  }

  li {
    display: inline;

    &:first-child::after, &:last-child::before {
      content: " | ";
      color: lighten(black, 50%);
      padding: 0 .5em;
    }
  }

  a, a:link, a:visited, a:hover, a:active {
    display: inline-block;
    color: $dark-gray;
    transition: color 200ms;
  }

  a:hover {
    color: $blue;
  }
}

// Styling for page article
article {
  margin-bottom: 2em;
  .proficiency-level {
    color: lighten(black, 50%);
    font-size: .8em;
  }
  ul {
    margin-bottom: 1em;
    li {
      list-style: disc;
    }
  }
}

// Styling for page footer
footer {
  background-color: $dark-gray;
  color: darken(white, 30%);
  position: relative;
  overflow-y: hidden;
  font-size: .8em;

  section {
    margin-top: .5em;
    dt {
      margin-top: 0;
    }
  }

  a, a:link, a:visited, a:hover, a:active {
    color: darken(white, 30%);
    text-decoration: underline;
  }

  h2 {
    text-align: center;
  }

  h1 {
    position: relative;
    border-top: 0;
    display: block;
    text-align: center;
    height: 1em;
    color: lighten(black, 30%);
  }
}

footer {
  background-color: $dark-gray;
  color: darken(white, 30%);
  position: relative;
  overflow-y: hidden;
  font-size: .8em;

}

