// Set default site-wide font size
body {
  font-size: 100%;

  @media (min-width: 37.5em) {
    font-size: 112.5%;
  }

  @media (min-width: 50em) {
    font-size: 125%;
  }

  @media (min-width: 64.375em) {
    font-size: 137.5%;
  }

  @media (min-height: 31.25em) and (min-width: 75em) {
    font-size: 150%;
  }
}